<h1>
    <a href="#">Statistics</a>
    <a id="dl">Download</a>
</h1>
<canvas id="line-chart" width="1080" height="350"></canvas>
<table class="stats-table">
    <tr>
        <th></th>
        <% _.each(subjects, function (subject) { %> 
        <th><%= subject.get('prefix') %></th>
        <% }); %>
    </tr>
    <% _.each (data, function (row) { %> 
    <tr onclick="document.location = '#<%= current %><%= row.get('label') %>';" >
        <th><%= row.get('formatted') %></th>
        <% _.each(row.get('subjects'), function (input) { %> 
        <td><%= input %></td>
        <% }); %>
    </tr>
    <% });%>
</table>
